
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>Магазин</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
</head>
<body>
    <div class="category-products clearfix">
      {% for product in products %}
        <div class="block">
          <a href="{% url 'basket:add' product.pk %}">
            <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
            <div class="text">
              <img src="{% static 'img/icon-hover.png' %}" alt="hover">
              <h4>{{ product.name }}</h4>
              <p>{{ product.description }} </p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
</body>
</html>